<div>
    <img src="{{ logo }}" alt="Logo du Louvre">
    <h2>Votre commande n°{{ booking.reservationCode }}</h2>
    <p>Bonjour,</p>
    <p>Merci pour votre commande, vous retrouvez votre ticket à la fin de cet e-mail.</p>
    <p>Attention, cet e-mail fait office de ticket d'entrée.</p>
    <p>Si vous bénéficiez d'un prix réduit, pensez à présenter un justificatif.</p>
    <p>Merci et à bientôt au Musée du Louvre.</p>
</div>

<div>
    <p>Votre billet pour le {{ booking.dateOfVisit|date('d-m-Y') }} :</p>
    <p>N° de commande : {{ booking.reservationCode }}</p>
    <p>Prix total : {{ booking.bill }} €</p>
    <p>Quantité : {{ booking.numberOfTickets }} billet(s)</p>
    <p>durée : {{ booking.duration }}</p>
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Tarif</th>
            <th>Catégorie</th>
        </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.lastName }}</td>
                <td>{{ ticket.firstName }}</td>
                <td>{{ ticket.price }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>