<div style="min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    color: black;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);">
    <img src="{{ logo }}" alt="Logo du Louvre">
    <h1>Musée du Louvre</h1>
    <p></p>
    <h2>Votre commande de billet(s) pour le <strong>{{ booking.dateOfVisit|localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM Y') }}</strong></h2>
    <h2>Commande n° {{ booking.reservationCode }}</h2>
    <p></p>
    <p>Bonjour,</p>
    <p>Merci pour votre commande, attention, cet e-mail fait office de billet d'entrée.</p>
    {% for visiteur in tickets %}
        {% if visiteur.price == 10 %}<p><B> il sera nécessaire que monsieur ou madame, <B>{{ visiteur.lastname }} {{ visiteur.firstname }}</B>, présente sa carte d’étudiant, militaire ou équivalent lors de l’entrée pour justifier du tarif réduit</B></p>{% endif %}
    {% endfor %}
    <p>Merci et à bientôt au Musée du Louvre.</p>
</div>
<p></p>
<div style="min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    color: black;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);">
    <p>{% if booking.numberOfTickets==1 %}votre billet{% endif %}{% if booking.numberOfTickets>1 %}vos billets{% endif %} pour le <strong>{{ booking.dateOfVisit|localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM Y') }}</strong> :</p>
    <p>N° de commande : {{ booking.reservationCode }}</p>
    <p>Prix total : {{ booking.bill }} €</p>
    <p>Quantité : {{ booking.numberOfTickets }} billet(s)</p>
    <p>durée : {{ booking.duration }}</p>


    {% for visiteur in tickets %}
        <div style="min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    color: black;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);">
            Visiteur n° {{ loop.index }} <br/>
            Nom : <B>{{ visiteur.lastname }} {{ visiteur.firstname }}</B><br/>
            Catégorie de billet :   {% if visiteur.price == 10 %}<B> réduit </B>{% endif %}
            {% if visiteur.price == 0 %}<B> moins de 4 ans </B>{% endif %}
            {% if visiteur.price == 8 %}<B> moins de 12 ans </B>{% endif %}
            {% if visiteur.price == 16 %}<B> normal </B>{% endif %}
            {% if visiteur.price == 12 %}<B> plus de 60 ans </B>{% endif %}<br/>
            Prix du billet : <B>{{ visiteur.price |number_format(2,',') }} € </B><br/>
        </div>
    {% endfor %}


</div>
