{% extends "LouvreTicketingBundle::layout.html.twig" %}

{%  block body %}
    <h1>Bienvenue sur la billetterie du musée du Louvre</h1>
    <div id="tunnelAchat" xmlns="http://www.w3.org/1999/html">
        <ol class="tunnel">
            <li {% if app.request.attributes.get('_route') == 'louvre_ticketing_bookingsteponepage' %}class="is-current"{% endif %}></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
    </div>
        <div id="contraintes">
            <p>
                Le musée est ouvert tout les jours, de 9h à 18h, sauf le mardi (Fermeture hebdomadaire) et les 1er mai, 1er novembre et 25 décembre.<br/>
                La commande de billets en ligne est impossible pour :<br/>
                - Les dimanches<br/>
                - Les jours fériés<br/>
                - Si plus de 1000 billets ont déjà été vendus pour la journée souhaitée<br/>
                Pour ces dates, veuillez vous rendre directement au Musée pour acheter vos billets.
            </p>
            <p>
                La commande de billet journée est impossible pour la journée en cours s'il est plus de 14 heures.<br/>
                Le billet demi-journée ne permet de rentrer dans le Musée qu'à partir de 14 heures.
            </p>
        </div>





    <div class="formulaire">
                                {{ form_start(form) }}

                                        <div class="form-group">
                                            {{ form_errors(form.dateOfVisit) }}
                                            {{ form_label(form.dateOfVisit) }}<br/>
                                            <p id="emailAlert">Les jours "grisés" ne sont pas disponibles à la réservation, voir informations ci-dessus</p>
                                            {{ form_widget(form.dateOfVisit) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_errors(form.duration) }}
                                            {{ form_label(form.duration) }}<br/>
                                            {{ form_widget(form.duration) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_errors(form.numberOfTickets) }}
                                            {{ form_label(form.numberOfTickets) }}<br/>
                                            {{ form_widget(form.numberOfTickets) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_errors(form.email) }}
                                            {{ form_label(form.email) }}<br/>
                                            <p id="emailAlert">attention, vos billets vous seront envoyés à cette adresse</p>
                                            {{ form_widget(form.email) }}
                                        </div>

                                {{ form_end(form) }}



        </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/louvreticketing/plugin/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/louvreticketing/plugin/locales/bootstrap-datepicker.fr.min.js') }}"></script>
    <script src="{{ asset('bundles/louvreticketing/js/14h.js') }}"></script>
    <script src="{{ asset('bundles/louvreticketing/js/date.js') }}"></script>
{% endblock %}