{% extends "LouvreTicketingBundle::layout.html.twig" %}

{%  block body %}
    <div id="tunnelAchat">
        <ol class="tunnel">
            <li></li>
            <li {% if app.request.attributes.get('_route') == 'louvre_ticketing_bookingsteptwopage' %}class="is-current"{% endif %}></li>
            <li></li>
            <li></li>
        </ol>
    </div>



    Date de votre visite : <span style="font-weight: 700">{{ dateOfVisit|date('d-m-Y') }}</span> <br/>
    Nombre de visiteurs : <span style="font-weight: 700">{{ numberOfTickets }}</span> <br/>
    Type de Billet  : <span style="font-weight: 700">{{ duration }} </span><br/>



        {{ form_start(form) }}


        {% for visiteur in form.tickets %}

            <div class="formulaire-step2">

<div class="form-group">Visiteur n° <span style="font-weight: 700"> {{ loop.index }} </span></div>
            <div class="form-group">
                {{ form_errors(visiteur.lastname) }}
                {{ form_label(visiteur.lastname) }}<br/>
                {{ form_widget(visiteur.lastname) }}<br/>
            </div>
            <div class="form-group">
                {{ form_errors(visiteur.firstname) }}
                {{ form_label(visiteur.firstname) }}<br/>
                {{ form_widget(visiteur.firstname) }}<br/>
            </div>
            <div class="form-group">
                {{ form_errors(visiteur.birthDate) }}
                {{ form_label(visiteur.birthDate) }}<br/>
                {{ form_widget(visiteur.birthDate) }}<br/>
            </div>
            <div class="form-group">
                {{ form_errors(visiteur.category) }}
                {{ form_label(visiteur.category) }}<br/>
                {{ form_widget(visiteur.category) }}

            </div>

            </div>

        {% endfor %}
    <p id="reduceAlert">il sera nécessaire de présenter sa carte d’étudiant, militaire ou équivalent lors de l’entrée pour prouver qu’on bénéficie bien d'un tarif réduit</p>
        {{ form_end(form) }}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/louvreticketing/js/reduce.js') }}"></script>
{% endblock %}
