{% extends "LouvreTicketingBundle::layout.html.twig" %}

{%  block body %}
    <div id="tunnelAchat">
        <ol class="tunnel">
            <li></li>
            <li></li>
            <li {% if app.request.attributes.get('_route') == 'louvre_ticketing_bookingstepthreepage' %}class="is-current"{% endif %}></li>
            <li></li>
        </ol>
    </div>
    <div class="formulaire">


        Récapitulatif de votre commande :
        <br/>
        {{ booking.numberOfTickets }} billet(s) commandé(s) pour le {{ booking.dateOfVisit|date('d-m-Y') }}<br/>

        Visiteur(s) concerné(s) par cette commande :

        <br/>

    {% for visiteur in tickets %}
        Visiteur n° {{ loop.index }} <br/>
        Nom : {{ visiteur.lastname }} {{ visiteur.firstname }}<br/>
        Catégorie de billet :   {% if visiteur.price == 10 %} réduit {% endif %}
                                {% if visiteur.price == 0 %} moins de 4 ans {% endif %}
                                {% if visiteur.price == 8 %} moins de 12 ans {% endif %}
                                {% if visiteur.price == 16 %} normal {% endif %}
                                {% if visiteur.price == 12 %} plus de 60 ans {% endif %}<br/>
        Prix du billet : {{ visiteur.price |number_format(2,',') }} € <br/>

    {% endfor %}
        Le montant total de la commande s'élève à : {{ booking.bill|number_format(2,',') }} € <br/>
        vos billets vous seront envoyés à l'adresse mail : {{ booking.email }}
    </div>
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Paiement</span></h1>
            </div>

            <div id="status">
                <p>

                    Vous êtes sur le point d'acheter {% if booking.numberOfTickets==1 %}votre billet{% endif %}{% if booking.numberOfTickets>1 %}vos billets{% endif %} pour un montant de {{ booking.bill|number_format(2,',') }} €

                <form action="{{ path('louvre_ticketing_bookingstepforpage', {'reservationCode' : booking.reservationCode}) }}" method="POST">
                    <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="pk_test_SFLHqbDMc5y77HUou43xRJLV"
                            data-amount="{{ booking.bill*100 }}"
                            data-name="Musée du Louvre"
                            data-description="Paiement"
                            data-locale="auto"
                            data-currency="eur"
                            data-label="{{'Acheter'}}">
                    </script>
                </form>

                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}

{% block javascripts %}
    <script>
        var reservation = '{{ booking.reservationCode }}';
    </script>
{% endblock %}