{% extends "LouvreTicketingBundle::layout.html.twig" %}

{%  block body %}
    <div id="tunnelAchat">
        <ol class="tunnel">
            <li></li>
            <li {% if app.request.attributes.get('_route') == 'louvre_ticketing_bookingsteptwopage' %}class="is-current"{% endif %}></li>
            <li></li>
            <li></li>
        </ol>
    </div>
    <div class="well">
        Reservation

        Id de la transaction : {{ id }} <br/>
        Nombre de visiteurs : <div id="numberOfTickets">{{ numberOfTickets }}</div> <br/>
        Date de la visite : {{ dateOfVisit|date('d-m-Y') }} <br/>
        Nombre de billets total vendus pour ce jour : {{ totalTicketsForTheDay }}




    <div class="well">
    {{ form_start(form) }}


    {% for visiteur in form.tickets %}

        Visiteur n°: {{ loop.index }}

    <div class="form-group">
        {{ form_errors(visiteur.lastname) }}
        {{ form_label(visiteur.lastname) }}
        {{ form_widget(visiteur.lastname) }}<br/>
    </div>
    <div class="form-group">
        {{ form_label(visiteur.firstname) }}
        {{ form_widget(visiteur.firstname) }}<br/>
    </div>
    <div class="form-group">
        {{ form_label(visiteur.birthDate) }}
        {{ form_widget(visiteur.birthDate) }}<br/>
    </div>
    <div class="form-group">
        {{ form_label(visiteur.category) }}
        {{ form_widget(visiteur.category) }}
    </div>

    {% endfor %}



    {{ form_end(form) }}
    </div>




    </div>

{% endblock %}